<div class="background bg-fixed bg-center bg-cover w-full bg-no-repeat min-h-screen">
  <div class="layover flex flex-col font-courier">
    <Navbar />
    <SearchMenu @categories={{this.model}} />
  </div>
</div>