<div class="bg-fixed bg-[url('/wp8041844.jpg')] bg-center bg-cover h-screen w-screen">
  <div class="layover flex flex-col font-courier">
    <Navbar />
    <SearchMenu @categories={{this.model}} />
  </div>
</div>